* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif
}

#bloglayout {

}

#bloglayout .heading{
    height: 156px;
    padding: 24px 104px;
    text-align: center;
    position: relative;
    margin-bottom: 54px;
}

#bloglayout .heading .title {
    position: relative;
    z-index: 1;
}

#bloglayout .heading .description {
    line-height: 24px;
}

.heading .title p {
    margin-top: 6px;
    margin-bottom: 4px;
    height: 74px;
    font-size: 48px;
    font-weight: 700;
    color: rgba(194, 0, 12, 1);
}

.heading .description p{
    color: rgba(102, 102, 102, 1);
    font-size: 16px;
    font-weight: 400;
}

.heading .img.or1 {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.heading .img.or2 {
    width: 82px;
    position: absolute;
    top: 13.4%;
    left: 43.4%;
}

.heading .img.or3 {
   position: absolute;
   bottom: 0;
   right: 6%;
}

.heading .img.or4 {
    position: absolute;
    top: 0;
    right: 2.6%;
}

.blog-cards-container .container-heading {
    display: flex;
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 24px;
    padding: 18px;
    justify-content: space-between;
    width: 80%;
    margin-left: 8.9%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    margin-bottom: 48px;
}

.container-heading .heading-text {
    padding: 26px 0px 0px 26px;
}

.heading-text .content {
    color: rgba(194, 0, 12, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 23px;
}

.heading-text .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(102, 102, 102, 1);
    padding-bottom: 24px;
}

.container-heading .heading-img {
    width: 600px;
}

.container-heading .heading-text .button {
    padding: 12px 16px;
    border-radius: 100px;
    height: 48px;
    width: 129px;
    background-image: linear-gradient(90deg,rgba(245, 127, 32, 1),rgba(214, 43, 8, 1));
    color: #fff;
    line-height: 23px;
    text-align: center
}

.container-heading .heading-text .button:hover {
    background-image: linear-gradient(rgba(245, 127, 32, 1),rgba(214, 43, 8, 1));
    cursor: pointer;
}

.blog-card-tabs {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0.6%;
    margin-left: 8%;
}

.category-tabs {
    display: flex;
    align-items: baseline;
    margin-left: 8.4%;
    margin-bottom: 40px;
}

.category-tabs .blog-category-switcher {
    padding: 12px 16px;
    border-radius: 40px;
    border: 1px solid rgba(102, 102, 102, 1);
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 6px;
    font-size: 16px;
    font-weight: 500;
}

.blog-category-switcher:hover {
    background: rgba(128, 0, 8, 0.8);
    color: #fff;
    cursor: pointer;
}

.blog-card-tabs .blog-card-item {
    height: 408px;
    position: relative;
    margin: 20px;
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 24px;
}

.blog-card-item .blog-card-content {
    background: #ffffff;
    color: black;
    width: 100%;
    height: 136px;
    border-radius: 12px;
    position: absolute;
    top: 262px;
}

.img-item img {
    width: 390px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.blog-card-content .tag {
    background: rgba(128, 0, 8, 0.8);
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 40px;
    margin: 12px 12px;
    display: inline-block;
}

.blog-card-content .item-content {
    font-size: 19px;
    font-weight: 700;
    line-height: 32px;
    margin: 0px 12px;
}

.blog-card-content .time {
    font-size: 14px;
    font-weight: 500;
    color: rgba(176, 176, 176, 1);
    margin-top: 18px;
    margin-left: 3.2%;
}

.blog-card-content .btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(194, 0, 12, 1);
    padding: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -5.6px;
}

.blog-card-content .btn .ti-angle-right {
    font-size: 11px;
    font-weight: 700;
}

.pagigation-btn .page-icon {
    width: 32px; height: 32px;
    color: #fff;
    font-size: 12px;
    background: rgba(194, 0, 12, 0.5);
    border-radius: 4px;
    border: 1.5px solid rgba(235, 235, 235, 1);
}

.pagigation-btn .page-icon:hover {
    background: rgba(194, 0, 12, 1);
    cursor: pointer;
}

.pagigation-btn .page-btn {
    margin-left: 4px; margin-right: 4px;
    font-size: 16px;
    font-weight: 700;
    width: 32px; height: 32px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1.5px solid rgba(235, 235, 235, 1);
    margin-bottom: 36px;
}

.pagigation-btn .page-btn:hover {
    color: rgba(194, 0, 12, 1);
    border: 2px solid rgba(194, 0, 12, 1);
    cursor: pointer;
}

.pagigation-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 9%;
}